header.header
    nav.nav.nav--tours 
        a(href="/").nav__el All tours
        //- form.nav__search-btn
        //-     button.nav-search-btn 
        //-         svg: use(xlink:href="img/icons.svg#icon-search")
        //-     input(type="text" placeholder="Search tours").nav__search-input
    div.header__logo
        img(src="/img/logo-white.png" alt="Natours logo")
    nav.nav.nav--user
        a(href="#").nav__el My bookings
        a(href="#").nav__el
            img(src="/img/user.jpg" alt="User photo").nav__user-img
            span Vuong Do Developer
        button.nav__el login
        button.nav__el.nav__el--cta Sign up